.profile-title {
  font-weight: 700;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url("/public/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "DM Sans";
}

.text-primary {
  color: #00697f;
  font-weight: 500;
}
